body {
  color: #777;
}
#layout,
#menu,
.pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#layout {
  padding-left: 260px;
/* left col width "#menu" */
  left: 0;
}
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}
.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 260;
}
.header h2 {
  font-weight: 260;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}
.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 260;
  color: #888;
}
#menu {
  margin-left: -260px;
/* this should be "#menu" width */
  width: 260px;
  position: fixed;
  top: 0;
  left: 260px;
/* this should be "#menu" width */
  bottom: 0;
  z-index: 1;
/* so the menu or its navicon stays above all content */
  background: #eee;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;
/* for smooth scrolling on mobile */
}
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
  text-align: center;
}
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}
#menu .pure-menu-selected {
  background: #1f8dd6;
}
#menu .pure-menu-selected a {
  color: #fff;
}
#menu .pure-menu-heading {
  font-size: 110%;
  color: #000;
  margin: 0;
}
.pure-menu-link {
  display: none;
/* show this only on small screens */
  top: 0;
  left: 260px;
/* `#menu`'s width */
  background: #000;
  font-size: 10px;
/* change this value to increase/decrease button size */
  z-index: 10;
  height: auto;
  padding: 2.2em 1.6em;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
  background: #000;
}
.pure-menu-link span {
  position: relative;
  display: block;
}
.pure-menu-link span,
.pure-menu-link span:before,
.pure-menu-link span:after {
  background-color: #fff;
  width: 20px;
  height: 0.2em;
}
.pure-menu-link span:before,
.pure-menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}
.pure-menu-link span:after {
  margin-top: 0.6em;
}
@media (max-width: 767px) {
  .header {
    text-align: left;
  }
  #layout {
    position: relative;
    padding-left: 0;
  }
  #layout.active {
    position: relative;
    left: 260px;
  }
  #layout.active #menu {
    left: 260px;
    width: 260px;
  }
  #menu {
    left: 0;
  }
  .pure-menu-link {
    position: fixed;
    left: 0;
    display: block;
/* show the button on small screens */
  }
  #layout.active .pure-menu-link {
    left: 260px;
  }
}
