AddDefaultCharset UTF-8

Redirect 301 /cv /cv.html
Redirect 301 /CV /cv.html
Redirect 301 /CV.pdf /cv.pdf

Redirect 301 /research/oncepresent.pdf http://files.davidsanson.com/research/oncepresent.pdf
Redirect 301 /research/maximal-possibilities.pdf http://files.davidsanson.com/research/maximal-possibilities.pdf
Redirect 301 /research/presentism-and-truthmaking.pdf http://files.davidsanson.com/research/presentism-and-truthmaking.pdf
Redirect 301 /research/WayThingsWere.pdf http://files.davidsanson.com/research/WayThingsWere.pdf
Redirect 301 /research/dissertation.pdf http://files.davidsanson.com/research/dissertation.pdf
Redirect 301 /research/ArabicLiar.pdf http://files.davidsanson.com/research/ArabicLiar.pdf

Redirect 301 /courses /teaching.html
Redirect 301 /courses.html /teaching.html
Redirect 301 /101 /teaching.html
Redirect 301 /863 /teaching.html
Redirect 301 /463 /teaching.html
Redirect 301 /670 /teaching.html
Redirect 301 /301 /teaching.html
Redirect 301 /302 /teaching.html
Redirect 301 /250 /teaching.html
Redirect 301 /999 /teaching.html
Redirect 301 /251 /teaching.html
Redirect 301 /210 /teaching.html

ErrorDocument 404 /404.html
ErrorDocument 410 /410.html

Options -Indexes +FollowSymLinks +IncludesNOEXEC

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
