// TYPOGRAPHY ================================================
$base-font: 'source-sans-pro', Hiragino Sans GB, STXihei, "华文细黑", sans-serif;
$heading-font: $base-font;
$caption-font: Zapfino, Georgia;
$code-font: 'source-code-pro', monospace;
$alt-font: 'droid-serif', serif;

$doc-font-size: 18;
$doc-line-height: 20;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;	
}


// COLORS =====================================================
$body-color      		: #fff;
$text-color      		: #222;
$base-color 	 		  : #343434;	  
$comp-color 	 		  : spin($base-color, 180); 
$border-color    		: $base-color;
$white           		: #fff;
$black           		: #000;
$accent-color    		: $black;
$link-color 		    : #222;


// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
